.btn {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}
h1 {
  font-size: 1.2rem;
  left: 44%;
  /* transform: translate(-17%, -50%); */
  top: 42%;
}
.between {
  font-size: 0.8rem;
  left: 32%;
  top: 50%;
}
.number {
  font-size: 3rem;
  width: 7rem;
  padding: 2rem 0rem;
  left: 0%;
  transform: translate(219%, 50%);
}
.right {
  font-size: 1rem;
  margin-bottom: 13rem;
}
.message {
  margin-bottom: 5rem;
}
.guess {
  width: 14rem;
  padding: 2rem;
  font-size: 4rem;
}
